body {
  margin: 0;
  background-color: #000;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(163, 212, 255);
}

.dev-status {
  color: red;
}

.headline {
  display: flex;
  height: 100vh;
  background: url(assets/background-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% auto;
}

.headline::after {
  background-color: red;
}

.headline-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.profile-image {
  width: 100%;
  text-align: center;
}

.profile-image img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin: 10px;
}

.header p {
  margin: 10px;
}

.links ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}

.projects-section {
  height: 100vh;
  text-align: center;
}

.projects-section h2 {
  margin: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(74, 74, 74, 95%);
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  justify-content: center;
}

.project img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .headline-content {
    flex-direction: row;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

  .profile-image {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
  }

  .project * {
    margin: 10px;
  }

  .project a {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .project h3 {
    font-size: 1.7rem;
  }

  .project {
    width: 40%;
    margin: 10px;
  }

  .project img {
    object-fit: scale-down;
    height: 350px;
  }
}
